/* 언어설정 */
@charset 'utf-8';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* 전체설정 */
* {margin: 0; padding: 0;}
ol, ul {list-style: none;}
a {text-decoration: none; color: #000;}
img {vertical-align: bottom;}
body {font-size: 14px;font-family: "Roboto", sans-serif;}
h2 {font-size: 28px;margin-top: 60px; margin-bottom: 50px;text-align: center;}

.haba {
    margin-top:px;
    margin-bottom: 50px;
    box-sizing: border-box;
}
/* 헤더 */
header {
    position: fixed;
    width: 100%;
    min-width: 1200px;
    height: 80px;
    background-color: #ED1D24;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top:0;
    z-index: 10;
}
.h_wrap {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {}
.txt_logo {display:inline-block;text-indent: -999999px;}
header img {
    width:80px; 
}
header .gnb {
    
}
header .gnb ul {
    display: flex;
    justify-content: space-evenly;
    
}
header .gnb ul li {
    margin-right: 20px;
}
header .gnb ul li a i {
    color: #fff;
    font-size:20px;
}
header .gnb ul li a span {
    display:inline-block;
    text-indent: -99999999999px;
}
.main {
    margin-top: 80px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.main .main_slider {
    width: 100%;
    height: calc(100vh - 80px);   
    position: relative;  
    overflow: hidden;   
}
.main .slider_box div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}
.main .slider_box img {
    width:100%;
}
.sl_t_box {
    position: absolute;
    top:30%;
    right: 10%;
    display: flex;
    /* justify-content: flex-end; */
    align-items: center;
    flex-direction: column;
}
.sl_t_box em {
    display: block;
    font-style: normal;
    font-size: 24px;
    color: #fff;
    font-weight: bold;
}
.sl_t_box span {
    display: inline-block;
    padding: 10px;
    font-size: 80px;
    font-weight: bold;
    color: #fff;
}
.sl_t_box .sl_txt {}
.sl_t_box .sl_txt span {
    color: rgba(255, 0, 0, 0.8);
}
.sl_t_box .sl_txt p {
    font-size: 60px;
    
}
.items {
    text-align: center;
    /* margin-top: 80px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 40vh;
}
.items div {
    display: flex;
}
.cc_wrap {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.items .cate {
   display: inline-block;
   margin-right: 10px;
   font-weight: bold;
   color: #fff;
   font-size: 20px;
   text-shadow: 4px 1px 4px rgba(0,0,0,0.6);
}
.items div .circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    margin-left: 40px;
    align-items: center;

}
.items div .circle a:hover {
    width: 75px; 
    height: 150px; 
    border-radius: 0px 150px 150px 0px;
    background-color: #ED1D24;
    transition: all 0.8s;
    transform: rotate3d(0, 1, 0, 180deg);
}
.items div .circle a {
    display: flex;
    justify-content: center;
    align-items: center;
}
.items div .circle a:hover .cate {
    font-weight: bold;
    color: #fff;
    font-size: 20px;
    text-shadow: 4px 1px 4px rgba(0,0,0,0.6);
}


.items div .circle:nth-child(1) {
    background-image: url('../img/it_w_01.png');
    background-position: center;
}
.items div .circle:nth-child(2) {
    background-image: url('../img/it_m_01.png');
    background-position: center;
}
.items div .circle:nth-child(3) {
    background-image: url('../img/it_k_01.png');
    background-position: center;
}
.items div .circle:nth-child(4) {
    background-image: url('../img/it_b_01.png');
    background-position: center;
}
.items div .circle:nth-child(5) {
    background-image: url('../img/it_a_01.png');
    background-position: center;
}

/* 어바웃 설정 */
.about {
    margin-top: 50px;
    width: 100%;
    height: calc(100vh - 120px);
}
.about .ab_wrap {
    width: 100%;
    display: flex;
}
.about .ab_wrap .ab_txt {
    width: 50%;
    height: 800px;
    padding: 100px;
    background-color: #ED1D24;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.about .ab_wrap .ab_txt>span {
    display: block;
    position: absolute;
    top: -102px;
    right: 103px;
    width: 200px;
}
.about .ab_wrap .ab_txt .p_sec {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p_sec .point {
    font-size: 20px;
    font-weight: bold;
}
.about .ab_wrap .ab_slider {
    background-image: url('../img/ab_background_02.png'); 
    background-size: cover;
    width: 50%;
    height: 800px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: scroll;
    justify-content: flex-start;
    align-items: center;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
}
.about .ab_wrap .ab_slider>img {
    width: 480px;
    height: 600px;
    margin-top: 40px;
}
.ab_slider .big_img {
    position: relative;    
    display: flex;
    align-items: flex-end;

}
.ab_slider .small_img {
    position: absolute;
    width: 140px;
    height: 180px;
}
.ab_slider .small_img img {
    /* width: 100%; */
    width: 140px;
}
/* 

*/

/* 이벤트  */
.event {
    width: 90%;
    margin: 0 auto;
}
.event h2 {}
.event .ev_wrap{
    width: 100%;
    overflow: hidden;
    display: flex;
}
.ev_fst {
    width: 350px;
}
.ev_2nd_li, .ev_3rd_li {
    display: flex;
    position: relative;
    overflow: hidden;
}
.ev_2nd_li {
    width: 500px;
    height: auto;
}
.ev_2nd_li li {
    position: absolute;
}

.ev_3rd_li {
    width: 450px;
}
.ev_3rd_li li {
    position: absolute;
}

/* 이벤트 끝 */



.st_guide {
    padding: 50px;
    /* width: 100%; */
    height: 100%;
}
.st_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.st_cate {
    width: 20%;
    height: 600px;
    padding: 10px;
}
.st_cate ul {}
.st_cate ul li {
    padding: 20px;
}
.st_cate ul li a {
    position: relative; /* ::after 위치 기준 */
    text-decoration: none; /* 기본 밑줄 제거 */
    display: block;
    font-size: 18px;
    color: #333;
    padding-bottom: 5px;
    transition: font-size 0.3s ease,font-weight 0.3s ease;
}
.st_cate ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px; /* 밑줄 두께 */
    width: 0; /* 처음엔 안보이도록 */
    background-color: #ED1D24; /* 밑줄 색 */
    transition: width 0.3s ease; /* 애니메이션 */
    font-size: 20px;
}
.st_cate ul li a:hover {
    font-size: 20px;
    font-weight: bold;
}
.st_cate ul li a:hover::after {
    width: 100%; /* 호버 시 전체 너비로 */
    font-size: 20px; 
}

.st_cate ul li a.on {
    border-bottom: 1px solid #ED1D24;
    background-color: #ED1D24; 
    font-size: 20px;
}

.bigfake {
    /* background-color: red; */
    height: 690px;
    width:520px;
}
.st_list {
    padding-bottom: 40px;
    display: flex;
    /* overflow: hidden; */
    width:40%;
    margin-left:20px;
    overflow-x: scroll;
    scrollbar-color: #ED1D24 #ccc;
    scrollbar-width: thin;
    width: 100%;
}
.st_list ul {
    display: flex;
    width: 100%;
}
.st_list ul li {
    width: 370px;
    height: 340px;
    margin-right: 4px;
}
.st_list a {
    position: relative;
    width: 370px;
    height: 340px;
    display: inline-block;
}
.st_list a img {
    float: left;
    width:370px;
    height: 340px; 
    margin-bottom: 14px;
    margin-right: 20px;
}
.st_list .st_item {
    position: absolute;
    background-color: rgba(0,0,0,0.7);
    color: #fff;
    bottom: 2%;
    left: 0;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.st_list .st_item span {
    display: block;
}
.review {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rv_wrap { /*ul 깔아주는 판*/
    width: 1700px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    
}
.rv_list { /*ul */
    margin: 10px;
    width: 100%;
    height: 270px;
    display: flex;
    position: absolute;
    left: 0;
    top:0;
}

.rv_list li {
    margin-left: 10px;
    margin-right: 10px;
    width: 320px;
    height: 270px;
}
.rv_tt {
    font-size: 16px;
    font-weight: bold;
}
.rv_list li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.rv_list li a p {
    margin-top: 5px;
    /* line-height: 120%; */
    display: inline-block;
}
.rv_list li a span {
    display: inline-block;
    margin: 5px;
}
.rv_wrap ul:nth-child(1) {
    animation: ani1 30s linear infinite;
    left:0;
}
.rv_wrap ul:nth-child(2) {
    animation: ani2 30s linear infinite;
    left:1700px;
}
.grades i{
    color:#ED1D24
}

@keyframes ani1 {
    0% {
        left:0; 
    }
    100% {
        left:-1700px;
    }
}

@keyframes ani2 {
    0% {
        left:1700px;         
    }
    100% {
        left:0px; 
    }
}

footer {
    width: 100%;
    background-color: #ED1D24;
    height: 300px;
    display: flex;
    /* justify-content: flex-start; */
}
footer p {
    color: #fff;
}

footer .f_logo img{
    width: 300px;
    height: 300px;
}